<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="class= bg-[#faf7f2] min-h-screen">
    {% include "components/navbar.html.jinja" %}

    <div class="max-w-7xl mx-auto p-6">


        <div class="grid grid-cols-1 lg:grid-cols-12 gap-8">

            <div class="lg:col-span-4 bg-white p-6 rounded shadow">
                <img src="{{ product['Image'] }}" alt="{{ product['Name'] }}" class="w-full " />
            </div>

            <div class="lg:col-span-5 space-y-4">
                <h1 class="text-3xl font-bold text-gray-900">
                    {{ product['Name'] }}
                </h1>


                <p class="text-3xl font-semibold text-gray-900">
                    ${{ product['Price'] }}
                </p>

                <ul class="list-disc ml-6 text-gray-700 space-y-2">
                    <li>30-day return window from delivery date</li>
                    <li>Item must be in original condition and packaging</li>
                    <li>Full refund issued within 3–5 business days after inspection</li>
                    <li>Free return shipping for damaged or incorrect items</li>
                    <li>{{ product['ShortDescription'] if product['ShortDescription'] else "Easy and hassle-free refund
                        process." }}</li>
                </ul>


                <div class="pt-4">
                    <h2 class="text-xl font-semibold text-gray-800 mb-2">About this item</h2>
                    <p class="text-gray-700 leading-relaxed">
                        {{ product['Description'] }}
                    </p>
                </div>
            </div>

            <div class="lg:col-span-3">
                <div class="bg-white p-6 rounded shadow space-y-4">

                    <p class="text-2xl font-semibold text-gray-900">
                        ${{ product['Price'] }}
                    </p>

                    <p class="text-green-600 font-semibold">In Stock</p>


                    <form method="post" action="/product/{{product['ID']}}/add_to_cart">
                        <input type="number" name="QTY" value="1" min="1" max="3">
                        <button
                            class="w-full py-2 bg-[#e6af6c] text-white border border-[#bf925c] rounded-full font-semibold hover:bg-[#f5bf7d]">
                            Add to Cart
                        </button>

                    </form>

                    <button
                        class="w-full py-2 bg-[#e6af6c] text-white border border-[#bf925c] rounded-full font-semibold hover:bg-[#f5bf7d]">
                        Buy Now
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div class="max-w-7xl mx-auto p-6 mt-12">
        <div class="bg-white rounded shadow p-6">

            <h2 class="text-2xl font-bold text-gray-900 mb-6">
                Customer Reviews
            </h2>


            <form method="post" action="/product/{{product['ID']}}/review"
                class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md space-y-4">

                <p class="block text-gray-800 font-semibold mb-2">
                    Rating
                </p>
                <div class="flex space-x-2 mb-4">


                </div>
                <select name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>


                <div>
                    <label class="block text-gray-800 font-semibold mb-2">
                        Your Name
                    </label>
                    <input type="text" name="name" required
                        class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#e6af6c]" />
                </div>

                <div>
                    <label class="block text-gray-800 font-semibold mb-2">
                        Your Review
                    </label>
                    <textarea name="comments" required rows="4"
                        class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#e6af6c]"></textarea>
                </div>

                <button type="submit"
                    class="w-full px-6 py-2 bg-[#e6af6c] text-white border border-[#bf925c] rounded-full font-semibold hover:bg-[#f5bf7d] transition-colors">
                    Submit Review
                </button>
            </form>

            <h2 class="text-2xl font-bold text-gray-800 mt-8 mb-4 text-center">Reviews</h2>

            <div class="max-w-lg mx-auto space-y-4">
                {% for review in reviews %}
                <div class="border border-gray-200 p-4 rounded-lg shadow-sm bg-white">
                    <p class="font-semibold text-gray-700">{{ review["Name"] }}:</p>
                    <p class="text-gray-600 mt-1">{{ review["Comments"] }}</p>
                    <p class="text-sm text-gray-500 mt-2">Rating: {{ review["Rating"] }}/5</p>
                    <p class="text-sm text-gray-400 mt-1">Posted on: {{ review["Timestamp"] }}</p>
                </div>
                {% else %}
                <p class="text-center text-gray-500">No reviews yet.</p>
                {% endfor %}

            </div>

</body>

</html>