<nav class="bg-[#F8EDE3] px-8 py-4  shadow-sm flex items-center justify-between font-medium text-[#694f3a]">


  <div class="flex items-center gap-3">
    <img src="/static/logo/logo.png" alt="Henna By Heart Logo"
      class="h-16 w-16 rounded-full object-cover ring-2 ring-[#e6af6c]">

    <span class="text-sm opacity-80">
      {{ current_user.email }}
    </span>
  </div>


  <div class="flex items-center gap-8 text-sm">

    <a href="/" class="hover:text-[#7a5b40] transition duration-200">
      Homepage
    </a>

    <a href="/browse" class="hover:text-[#7a5b40] transition duration-200">
      Browse
    </a>


    <a href="/cart" class="relative">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-[#7a5b40] transition" fill="none"
        viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 
             0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
      </svg>
    </a>

    <div class="flex items-center gap-3">

      {% if not current_user.is_authenticated %}
      <a href="/login" class="hover:text-[#7a5b40] transition">Login</a>
      {% else %}
      <span class="text-sm opacity-80">
        Hi, {{ current_user.name }}
      </span>
      <a href="/logout" class="hover:text-[#7a5b40] transition text-xs">
        Logout
      </a>
      {% endif %}


      <div class="relative group">
        <button class="hover:text-[#7a5b40] transition flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 
                 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </button>

        <ul class="absolute right-0 mt-3 w-36 bg-white border border-[#e6af6c] rounded-xl shadow-lg
                   opacity-0 invisible group-hover:opacity-100 group-hover:visible
                   transition-all duration-200 text-[#694f3a] text-sm overflow-hidden">

          <li>
            <a href="/login" class="block px-4 py-2 hover:bg-[#F8EDE3]">
              Sign In
            </a>
          </li>
          <li>
            <a href="/register" class="block px-4 py-2 hover:bg-[#F8EDE3]">
              Register
            </a>
          </li>
          <li>
            <a href="/order" class="block px-4 py-2 hover:bg-[#F8EDE3]">
              Orders
            </a>
          </li>

        </ul>
      </div>

    </div>
  </div>
</nav>