<nav class="bg-[#F8EDE3] p-4 px-6 rounded-b-2xl shadow-md flex items-center justify-between font-semibold text-gray-700">
 
    <img class="flex items-center" src="/photos/logo.png" alt="Henna By Heart Logo" class="h-10 w-auto">


  <div class="flex items-center gap-4 text-sm">
    <a href="/" class="hover:text-[#FFFFFF] transition">Homepage</a>
    <a href="/contact" class="hover:text-[#FFFFFF] transition">Contact us</a>
    <a href="/orders" class="hover:text-blue-600 transition">Orders</a>
    <a href="/browse" class="hover:text-blue-600 transition">Browse</a>

    <a href="/cart" class="relative hover:text-blue-600 transition">
      🛒
      <span class="absolute -top-2 -right-2 bg-pink-500 text-white text-xs px-1.5 rounded-full">2</span>
    </a>

    <a href="/profile" class="relative hover:text-blue-600 transition">
      👤
    </a>
  </div>
</nav>
